

.App {
    text-align: center;
    background-color: #101010;
}

.App_header {
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    animation-name: slide_in;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    animation-duration: 2s;
}


.beaver_ico {
    width: calc(50px + 2vmin);
}

.Icon {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: all 0.5s ease;
}



.Icon:hover {
    transform: scale(1.5);
}



