
.Other {
    text-align: center;
    background-color: #101010;
}

.Other_header {
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.Text {
    animation-name: sizer;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes sizer {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}


